#menu {
    height: 5vh;
}
#content {
    height: 95vh;
}
#items .row {
    height: 50%;
    overflow: auto
}
#items img {
    max-height: 25vh;
}

#heatmap-header {
    height: 10%;
    background-color: violet;
}
#heatmap-content {
    height: 60%;
    background-color:aliceblue;
}

#heatmap {
    padding: 0;
}

#histogram-content {
    height: 30%;
    background-color: aliceblue;
}

#histogram {
    padding: 0;
}