#menu {
    height: 5vh;
}
#content {
    height: 95vh;
}
#items .row {
    height: 50%;
    overflow: auto
}
#items img {
    max-height: 25vh;
}

#heatmap-header {
    height: 20%;
    background-color: violet;
}
#heatmap-content {
    height: 80%;
    background-color: red;
}
#heatmap {
    padding: 0;
}