.box {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid black;
}

[role="tooltip"] {
    display: none;
}

.box:hover+[role="tooltip"],
.box:focus+[role="tooltip"] {
    display: inline-block;
}

img {
    max-height: 15vh;
}

.att-header{
    margin-bottom: 0.4em;
}
.att-name {
    font-weight: 700;
}
.att-value {
    margin-left: 1em;
}

.att-weight {
    font-size: 12px;
    line-height: 1.3em;
}
.att-weight-bar {
    background-color:#dda8f8;
}