:root {
    font-size: 16px;
    --bs-body-bg: rgb(234, 239, 239);
    --bs-body-bg-rgb: 234, 239, 239;
    --bs-body-color: #333446;
    --bs-body-color-rgb: 51, 52, 70;
    --panel-bg: rgb(234, 239, 239);
    --bs-table-bg: --panel-bg;
    --bs-light-rgb: 234, 239, 239;
    --bs-btn-primary: #7F8CAA;
}

body {
    background-color: #B8CFCE;
}

.btn.btn-primary,
.btn.btn-primary:active,
.btn.btn-primary:first-child:active,
.btn.btn-function {
    background-color: var(--bs-btn-primary);
    border-color: var(--bs-btn-primary);
    box-shadow: none;
}

.btn.btn-primary:hover,
.btn.btn-function:hover {
    filter: brightness(75%);
}

.container {
    background-color: var(--bs-body-bg);
    margin-top: 1rem;
}