#menu {
    height: 5vh;
    font-size: 1.3rem;
}

#heatmap-container {
    height: 35vh;
}

#item-comparer {
    height: 60vh;
    margin-top: 2vh;
}

#heatmap-header {
    height: 8%;
}
#plot-container {
    height: 92%; 
}

#heatmap-header .form-label{
    font-size: 1.4rem;
}
#heatmap-content {
    height: 100%;
    background-color:aliceblue;
}

#heatmap {
    padding: 0;
}

#histogram-content {
    height: 100%;
    background-color: aliceblue;
}

#histogram {
    padding: 0;
}

#reset-filter-btn{
    position: relative;
    width: 100px;
    bottom: 100px;
    left: 100px;
}

.box {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid black;
}

[role="tooltip"] {
    display: none;
}

.box:hover+[role="tooltip"],
.box:focus+[role="tooltip"] {
    display: inline-block;
}

img {
    max-height: 15vh;
}

.att-header {
    margin-bottom: 0.4em;
}

.att-name {
    font-weight: 700;
}

.att-value {
    margin-left: 1em;
}

.att-weight {
    font-size: 12px;
    line-height: 1.3em;
}

.att-weight-bar {
    background-color: #dda8f8;
}

#item-sim-value {
    display: block;
    background-color: whitesmoke;
    color: black;
    font-size: 1.2rem;
    margin: 0.6em;
    padding: 0.1em;
}