:root {
    font-size: 14px;
}

h2.panel-header{
    font-size: 1.4rem;
    border-radius: 4.25px 4.25px 0 0;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    text-align: center;
}
/* Layout */
#menu {
    display: none;

}

/* similarity-container */
#similarity-container {
    height: 11vh;
    overflow: auto;
    padding: 1rem;

    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
        margin-top: 1.3rem;
    }
    #similarity-descriptor {
        .btn-outline-dark{
            --bs-btn-border-width: 0;
            margin-right: 3px;
        }
    }
    table{
        font-size: 0.8rem;
    }
}

/* #plot-container {
    height: 43vh;
} */

#case-comparison-panel {
    height: 86vh;
    #selection-header{
        display: none;
    }
    table {
        table-layout: fixed; 
            word-wrap: break-word;
    }
}

/* plot-container */




#heatmap {
    height: 40vh;
    #heatmap-content {
        height: 100%;
        background-color:aliceblue;
        
        #heatmap {
            padding: 0;
        }
    }
}


#histogram{
    height: 40vh;

    #histogram-content {
        height: 100%;
        background-color: aliceblue;
        
        #histogram {
            padding: 0;
        }
    }
}

#reset-filter-btn{
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 100;
}

/* Case comparison panel */

#selection-header .form-label {
    font-size: 1.4rem;
}

#case-comparison-panel{
    tbody {
        font-size: 0.9rem;
    }
    button[data-item-id=""] {
            display: none;
        }
    #table-panel{
     padding: 0.5rem 1rem;   

    }
} 

.box {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid black;
}


.box:hover+[role="tooltip"],
.box:focus+[role="tooltip"] {
    display: inline-block;
}

img {
    max-height: 15vh;
}
.att-cell{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    .att-name,
    .att-value {
        font-weight: 700;
    }   
    .att-weight{
        align-self: center;
    }
    
}

.att-weight {
    font-size: smaller;
    font-weight: 500;
    line-height: 1.3em;
}

.att-weight[data-weight=""] {
    display: none;
}

.att-weight-bar {
    font-size: 10px;
    background-color: #dda8f8;
    overflow: visible;
    overflow-wrap: normal;
}

#item-sim-value {
    display: block;
    background-color: whitesmoke;
    color: black;
    font-size: 1.2rem;
    margin: 0.6em;
    padding: 0.1em;
}

.loading-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    color: white;
    .spinner-border{
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

/* Vis.js Navigation buttons */
#the-taxonomy,
#detail-taxonomy {
    height: 42vh;
    border: 1px solid rgb(36, 36, 36);
}
#detail-taxonomy {
    border-left: none;
}
div.vis-network div.vis-navigation div.vis-button.vis-up {
    top:10px;
    left:100px;
}
div.vis-network div.vis-navigation div.vis-button.vis-down {
    top:45px;
    left:100px;
}
div.vis-network div.vis-navigation div.vis-button.vis-left {
    top: 25px;
    left:150px;
}
div.vis-network div.vis-navigation div.vis-button.vis-right {
    top:25px;
    left:200px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    top:45px;

}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
    top:10px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
    top:10px;
}


/* Tabulator */
.tabulator {
    font-size: 0.9rem;
}
.dt-att-name,
.dt-att-value{
    font-weight: 700;
}

.dt-att-weight{
    font-size: 11px;
}