
:root {
    font-size: 14px;
    --bs-body-bg: rgb(234, 239, 239);
    --bs-body-bg-rgb: 234, 239, 239;
    --bs-body-color: #333446;
    --bs-body-color-rgb: 51, 52, 70;
    --panel-bg: rgb(234, 239, 239);
    --bs-table-bg: --panel-bg;
    --bs-light-rgb: 234, 239, 239;
    --bs-btn-primary: #7F8CAA;
}
body {
    background-color:#B8CFCE;
}

.btn.btn-primary,
.btn.btn-primary:active
.btn.btn-function,
.btn.btn-function {
    background-color: var(--bs-btn-primary);
    border-color: var(--bs-btn-primary);
    box-shadow: none;
}


nav{
    select.form-select,
    select.form-select:focus {
        background-color: var(--panel-bg);   
        border-color: var(--bs-btn-primary);
        box-shadow: none;
    }
    .nav-item {
        margin-right: 0.8rem;
    }

    .sep-left {
        margin-left: 2rem;
    }
}

h2.modal-title {
    color: var(--bs-btn-primary);
    font-size: 1.1rem;
    font-weight: 600;
    padding: .5rem 0 .8rem 0;
}

input[type='range']::-webkit-slider-runnable-track {
    background: var(--bs-body-bg);
    filter: brightness(95%);
}

input[type='range']::-moz-range-track {
    background: var(--bs-body-bg);
    filter: brightness(95%);
}

input[type='range']::-webkit-slider-thumb {
    background-color: var(--bs-btn-primary);
}

input[type='range']::-moz-range-thumb{
    background-color: var(--bs-btn-primary);
}


section>.panel {
    background-color: var(--bs-body-bg);
    border-radius: var(--bs-border-radius) !important;
    min-height: 45vh;
    padding: 0.5rem 1rem;
    margin-top: 0.8rem;

    h2.panel-header {
        color: var(--bs-btn-primary);
        font-size: 1.1rem;
        font-weight: 600;
        padding: .5rem 0 .8rem 0;
    }

}

/* Information Panel */
#info-panel{
    h3 {
        color: var(--bs-btn-primary);
        font-size: 1.1rem;
        font-weight: 600;
        padding-top: 0.5rem;
        padding-bottom: 0.3rem;
    }
    h4 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0;
    }
    #similarity-descriptor {
        .btn-outline-dark{
            --bs-btn-border-width: 0;
            margin-right: 3px;
        }
    }
    p {
        margin-bottom: 0.8rem;
    }

}





/* plot-container */
#plot-container { 
        #heatmap-content {
            height: 100%;
            #heatmap {
                max-height: 41vh;
                padding: 0;
            }
        }  
        
        #histogram-content {
            height: 100%;
            #histogram {
                max-height: 41vh;
                padding: 0;
            }
        }   

    #reset-filter-btn {
        position: absolute;
        top: 10px;
        left: 20px;
        z-index: 100;   
    }
}




/* Case comparison panel */
#case-comparison-panel {
    table {
        table-layout: fixed;
        word-wrap: break-word;
    }

    tbody {
        font-size: 0.9rem;
    }

    button[data-item-id=""] {
        display: none;
    }

    .box {
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-right: 5px;
        border: 1px solid black;
    }


    .box:hover+[role="tooltip"],
    .box:focus+[role="tooltip"] {
        display: inline-block;
    }

    img {
        max-height: 15vh;
    }
    #case-comparison-table {
        font-size: 0.9rem;
    }

    /* Tabulator */

    .tabulator {
        .tabulator-col[tabulator-field=value] {
            .tabulator-col-title span {
                background-color: var(--bs-body-bg);
            }
        }
        background-color: var(--panel-bg);

        .tabulator-header {
            background-color: var(--panel-bg);

            .tabulator-col {
                background-color: var(--panel-bg);
            }
        }

        .tabulator-row {
            background-color: var(--panel-bg);
        }

        .tabulator-row-odd {
            filter: brightness(95%);
        }

        .tabulator-data-tree-control {
            border-color: var(--bs-btn-primary);
        }

        .tabulator-data-tree-control-expand {
            background-color: var(--bs-btn-primary);
        }

        .tabulator-data-tree-control-expand:after {
            background-color: var(--bs-btn-primary);
        }

        .tabulator-data-tree-control-collapse {
            background-color: var(--bs-btn-primary);
        }

        .tabulator-data-tree-control-collapse:after {
            background-color: var(--bs-btn-primary);
        }
    }

    .dt-att-name,
    .dt-att-value {
        font-weight: 700;
    }

    .dt-att-weight {
        font-size: 11px;
    }
    
    .att-cell {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .att-name,
        .att-value {
            font-weight: 700;
        }

        .att-weight {
            align-self: center;
        }
    }
}


.loading-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    color: white;
    .spinner-border{
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}



/* Taxonomy Viewer */
#taxonomy-viewer {
#the-taxonomy,
    #detail-taxonomy {
        height: 40vh;

    }

    #detail-taxonomy {
        border-left: 1px solid var(--bs-btn-primary);

    }

    div.vis-network div.vis-navigation div.vis-button.vis-up {
        top: 10px;
        left: 100px;
    }

    div.vis-network div.vis-navigation div.vis-button.vis-down {
        top: 45px;
        left: 100px;
    }

    div.vis-network div.vis-navigation div.vis-button.vis-left {
        top: 25px;
        left: 150px;
    }

    div.vis-network div.vis-navigation div.vis-button.vis-right {
        top: 25px;
        left: 200px;
    }

    div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
        top: 45px;

    }

    div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
        top: 10px;
    }

    div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
        top: 10px;
    }
}





